torch==1.7.1
pytorch-pretrained-bert==0.6.2
tqdm
pytools==2018.5.2
git+https://github.com/cvangysel/pytrec_eval.git
pyserini==0.11.0.0
jsonlines
lxml
wandb
datasets
stopwordsiso
truecase==0.0.12
wandb
schedule
bs4